* {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 200px;
}

h1 {
  font-size: 45px;
  line-height: 1;
}

h2 {
  font-size: 32px;
  line-height: 1.1;
}

h3 {
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-size: 18px;
  line-height: 1.3;
}

/* CLASSES */

.trofeus {
  font-weight: bold;
  color: green;
}
